* {
    padding: 0;
    margin: 5px;
    text-align: center;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#frame {
    text-align: center;
    border-radius: 10px;
    background-color: lightslategray;
    padding: 50px;
    width: 360px;
    height: 220px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(90,90,90,1);
    -moz-box-shadow: 3px 3px 30px 5px rgba(90,90,90,1);
    box-shadow: 3px 3px 30px 5px rgba(90,90,90,1);
}
#result {
    width: 320px;
    height: 45px;
    text-align: right;
    left: 2px;
    border: 3px solid #F2F2F2;
    font-size: 18px;
    margin: auto;
}
.btn {
    width: 45px;
    height: 25px;
    margin: auto;
    font-size: 14px;
    background-color: #066163;
    color: #F2F2F2;
}
.btns {
    width: 45px;
    height: 25px;
    margin: auto;
    font-size: 14px;
    background-color: #383838;
    color: #F2F2F2;
}
.btn_bot_row {
    width: 100px;
    height: 25px;
    margin: auto;
    font-size: 14px;
}

.btn:hover {
    background-color: #07888a;
}

.btn:active {
    background-color: #054a4b;  
}
.btns:hover {
    background-color: #888888;
}
.btn_bot_row {
    background-color: #888888;
}

#cls {
    color: black;
    background-color: #CDBE78;
}
#sub {
    color: black;
    background-color: #F2F2F2;
}
#solve {
    background-color: #F2F2F2;
}

#cls:hover {
    background-color: #f1e29f;
}
#sub:hover {
    background-color: #F2F2F2;
}
#solve:hover {
    background-color: #F2F2F2;
}